Let us play
<!-- 
<button type="submit">Rock</button>
<button type="submit">Paper</button>
<button type="submit">Scissors</button> -->


<form action="/play" method="POST">
  <button name="pick" value="Paper">Paper</button>
  <button name="pick" value="Rock">Rock</button>
  <button name="pick" value="Scissors">Scissors</button>
  <input type="hidden" name="name" value=<%=@name%>>
</form>