<%require_relative '../lib/game.rb' %>

<h1>Let us play <%=@name%> </h1>



<form action="/play" method="POST">
  <% choices.each do |choice| %>
    <button name="pick" value=><%= choice.to_s %></button>
  <% end %>
  <input type="hidden" name="name" value=<%=@name%>>
</form>