<%require_relative '../lib/game.rb' %>

<h1>Let us play <%=@name%> </h1>



<form action="/play" method="POST">
  <% choices.each do |choice| %>
    <button class="btn" name="pick" value=<%= choice %>><%= choice %></button>
  <% end %>
</form>